.advantages{
  padding: 40px 0;
  &-title{
    margin: 0 0 40px;
  }
&-list{
  display: flex;
  justify-content: space-between;
}
  &-item{
    max-width: 292px;
    width: 100%;
    text-align: center;
    img{
      width: 64px;
      height: 64px;
      margin-bottom: 16px;
    }
    &__title{
      font-size: 20px;
      line-height: 30px;
      color: #EA6E34;
      margin-bottom: 16px;
    }
    &__desc{
      max-width: 182px;
      width: 100%;
      margin: 0 auto;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #000000;
    }
  }
}
