.footer {
  background: #e8e8e8;
  padding: 25px 0;
  @media screen and (max-width: 767px) {
    padding-top: 0;
  }

  ul {
    list-style: none;
    @media screen and (max-width: 767px) {
      margin: 0;
    }
  }

  &-logo {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #343434;
    font-size: 19px;
    margin-bottom: 25px;

    img {
      max-width: 154px;
      max-height: 50px;
      width: 100%;
    }
  }

  &-top {
    &__list {
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin-bottom: 8px;
      @media screen and (max-width: 767px) {
        flex-direction: column-reverse;
      }
    }

    &__item {
      width: 20%;
      @media screen and (max-width: 767px) {
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      &:nth-last-child(1) {
        max-width: 200px;
        margin-right: 14px;
        @media screen and (max-width: 767px) {
          max-width: 100%;
          margin: 0;
          text-align: center;
        }
      }

      &-1 {
        @media screen and (max-width: 767px) {
          display: none;
        }
      }
    }

    &__title {
      display: block;
      margin: 0 0 18px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #333436;
      font-size: 12.7px;
      position: relative;
      transition: 0.2s ease-in-out;

      &.active {
        color: #FC6519;

        span {
          fill: #FC6519;
          transform: translateY(-50%) rotate(180deg);
        }
      }

      span {
        display: none;
        transition: 0.2s ease-in-out;
        @media screen and (max-width: 767px) {
          display: block;
          position: absolute;
          width: 16px;
          height: 16px;
          fill: #343434;
          top: 50%;
          right: 0;
          transform: translateY(-50%);

        }


      }

      @media screen and (max-width: 767px) {
        font-size: 15px;
        margin-top: 10px;
        text-align: center;
      }
    }

    &__menu {
      @media screen and (max-width: 767px) {
        display: none;
        text-align: center;
      }

      &-link {
        color: #fc6519;
        display: block;
        margin-bottom: 7px;
        font-size: 13px;
        line-height: 1;
        transition: var(--transition);
        position: relative;
        width: fit-content;

        &:hover {
          color: #fc6519;

          &::before {
            width: 100%;
          }
        }

        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1px;
          transition: var(--transition);
          background: #FC6519;
          @media screen and (max-width: 767px) {
            content: unset;
          }
        }

        @media screen and (max-width: 767px) {
          width: 100%;
        }
      }
    }
  }

  &-bottom {
    text-align: center;
    border-top: 1px solid #818181;
    font-style: italic;
    font-weight: 300;
    color: rgba(52, 52, 52, 0.75);
    font-size: 12px;
  }

  &-info {
    color: rgba(52, 52, 52, .75);
    font-weight: 300;
    font-size: 10.5px;
    padding-bottom: 2px;
    line-height: 1.8;

    &-p {
      font-size: 13.5px;
    }

    &__list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 0;
      margin-top: -3px;

    }

    &__item {
      margin-right: 8px;

      img {
        height: 16px;
      }
    }
  }

  &-phone {
    text-align: center;
    @media screen and (max-width: 767px) {
      order: 3;
    }

    a {
      font-size: 19px;
      color: #fc6519;
      @media screen and (max-width: 767px) {
        font-size: 24px;
      }
    }

    button {
      max-width: 194px;
      width: 100%;
      height: 30px;
      padding: 4px 0 0 0;
      text-align: center;
      border: none;
      background: transparent;
      transition: all .3s ease-in-out;
      font-size: 14px;

      &:hover {
        background: #ff742e;
        color: #fff;
        box-shadow: 0 5px 30px -10px #ff742e;
      }

      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }

  &-email {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 16px;
    margin-left: 20px;
    color: #fc6519;
    transition: var(--transition);

    &:hover {
      color: #fc6519;
    }

    @media screen and (max-width: 767px) {
      order: 4;
      font-size: 20px;
    }
  }

  &-address {
    font-size: 14px;
    line-height: 1.5;
    margin-left: 20px;
    margin-top: 6px;
    @media screen and (max-width: 767px) {
      order: 5;
      font-size: 20px;
    }
  }

  &-yandex-market {
    margin-top: 4px;
    margin-left: 20px;
    display: block;

    img {
      max-height: 17px;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &-social {
    &s {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-left: 20px;
      margin-top: 19px;
      margin-bottom: 0;
      order: 2;

      @media screen and (max-width: 767px) {
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 10px;
      }

      &-title {
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        display: none;
        order: 1;
        @media screen and (max-width: 767px) {
          display: block;
        }
      }
    }

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #2c2c2c;
    transition: all .3s ease-in-out;

    &:hover {
      background: #2c2c2c;
      border-color: #2c2c2c;

      svg {
        fill: #fff;
      }
    }

    svg {
      width: 20px;
      transition: all .3s ease-in-out;
      height: 20px;

    }

    &:not(:nth-last-child(1)) {
      margin-right: 8px;
    }
  }
}


.scroll-to-top {
  position: fixed;
  bottom: 0;
  width: 60px;
  height: 60px;
  background: rgba(20, 25, 30, 0.5);
  text-align: center;
  line-height: 0;
  cursor: pointer;
  transition: all .2s ease;
  z-index: 100;
  display: none;
  padding-top: 10px;

  svg {
    fill: #fff;
    width: 10px;
    height: 10px;
  }
}
