h1,.h1{
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}
h2,.h2{
  font-size: 23px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 28px;
  @media screen and (max-width: 767px) {
    font-size: 28px;
    line-height: 40px;
  }
}

h3, .h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
