.supplier {
  &__container {
    border: 1px solid #E8E8E8;
    padding: 40px;
    border-bottom: none;
    @media (max-width: 450px) {
      padding: 0;
    }

    &--form {
      display: flex;
      flex-wrap: wrap;
    }

  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 15px;
    line-height: 23px;
    color: #343434;
    max-width: 768px;

    &-col {
      flex: 0 0 auto;
      width: fit-content;
    }

    &-link {
      color: inherit;

      &--download {
        font-size: 13px;
        text-decoration: underline;
      }
    }
  }

  &__h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    font-size: 14px;
  }

  &__requered {
    color: #EB4065;
    margin-right: 5px;
  }

  &__add-file {
    font-size: 22px;
    margin-right: 5px;
  }

  &__label {
    width: 50%;
    padding-right: 60px;
    margin-top: 20px;
    @media (max-width: 768px) {
      width: 100%;
      padding-right: 0;
    }

    label {
      display: block;
      font-family: "Montserrat", Arial, Helvetica, sans-serif;
    }

    &-title {
      margin-bottom: 10px;
      font-size: 18px;
      display: block;
      @media (max-width: 768px) {
        text-align: center;
      }
      @media (max-width: 450px) {
        text-align: left;
      }
    }

    &-content {
      background-color: #F5F5F5;
      font-size: 14px;
      display: flex;
      max-width: 100%;
      padding: 20px;
      align-items: center;
      justify-content: center;

    }

    &--file {
      width: 100%;
      padding-right: 0;
    }

    &--checkbox {
      display: flex;
      align-items: center;
    }

    .supplier__label-checkbox {
      position: static;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 28px;
      height: 28px;
      border: 2px solid #C1C1C1;
      margin: 20px 10px 20px 0;
      flex: 0 0 auto;

      &:checked {
        background-color: #fc6519;
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: #fc6519;

        &::after {
          content: "\2714";
          color: #fff;
          font-size: 2rem;
        }
      }
    }

    &-text {
      font-size: 14px;

      a {
        color: #FC6519;
      }
    }
  }

  input {
    outline: none;
  }

  .supplier__label-field {
    padding: 5px 15px;
    background-color: #F5F5F5;
    font-size: 14px;
    border-radius: 0;
    text-transform: none;
    max-width: 420px;
    border: 1px solid #F5F5F5;
    @media (max-width: 768px) {
      margin: auto;
    }

    &:focus {
      background-color: #fff;

      &::placeholder {
        color: #fff;
      }
    }
  }
}

.editor ul {
  list-style-type: disc;
  margin: 0 0 23px;
  padding: 0 0 0 26px;
}

input[type="file"] {
  display: none;
}

.btn.btn--transparent {

  background: transparent;
  border: 1px solid #fc6519;
  color: #343434;
  @media (max-width: 767px) {
    padding: 13px 20px;
    width: 100%;
  }

  &:hover {
    background: #FC6519;
    color: #fff;
  }
}

@media (max-width: 766px) {
  .editor {
    padding: 10px;
    background-color: #e8e8e8;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}


.sitemap-page {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 50%;
    @media (max-width: 767px) {
      width: 100%;
    }
  }

  ul {
    list-style: outside none none;
    padding: 0;

    a {
      color: #FC6519;
      transition: var(--transition);

      &:hover {
        border-bottom: 1px solid rgba(255, 116, 46, 0.3);
      }
    }
  }
}

.blog-page {

  .reviews-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
      max-width: 33%;
      width: 100%;
      margin-bottom: 30px;
      position: relative;

      @media screen and (max-width: 767px) {
        max-width: 50%;
        padding: 0 10px;
      }
      @media screen and (max-width: 560px) {
        max-width: 100%;
      }

      &-date {
        color: #9d9d9d;
        font-family: "Montserrat", Georgia, serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        margin-top: 5px;
      }

      &-text {
        height: 66px;
        max-width: 80%;
        overflow: hidden;

        a {
          color: #343434;
          font-family: "Montserrat", Georgia, serif;
          font-size: 16px;
          font-weight: 700;
          line-height: 22px;
          transition: var(--transition);

          &:hover {
            color: #FC6519;
            border-bottom: 1px solid rgba(255, 116, 46, 0.3);
          }
        }
      }

      &-img {
        position: relative;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: opacity 0.2s ease;

        &:hover {
          opacity: 0.7;
        }

        .icons-block {
          bottom: 10px;
          left: 10px;
          position: absolute;
          z-index: 2;

          .looks, .comments {
            color: #fff;
            display: inline-block;
            font-family: "Montserrat", Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            margin-right: 15px;
            vertical-align: middle;
          }

          .icon {
            display: inline-block;
            vertical-align: middle;

            svg {
              fill: #fff;
              width: 16px;
              height: 16px;
            }
          }
        }

        &:after {
          content: '';
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.0) 70%, rgba(0, 0, 0, 0.4) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#4d000000', GradientType=0);
        }
      }
    }
  }

  .reviews-list__item-btn-view {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #ffffff;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 20px;
    left: 10px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 10px;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 10px;
    z-index: 1;
    transition: all 0.2s ease-in-out;
  }
}

.blog-top {
  position: relative;
  margin: 0 0 50px 0;

  img {
    width: 100%;
    max-height: 470px;
    @media (max-width: 767px) {
      min-height: 340px;
    }
  }

  .info-wrap {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    max-height: 470px;

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      background: #000;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0.5;
    }

    .info-block {
      left: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }

    .breadcrumbs {
      padding: 0 0 23px;

      li {
        color: #fff;
        font-size: 14px;

        svg {
          fill: #fff;
        }

        [class*="icon-"] {
          margin: 0 15px 0 0;
          width: 6px;
          height: 8px;
        }

        a {
          border: none;
          color: #fff;
          display: inline-block;
          font-size: 14px;

          span {
            border-bottom: 1px solid transparent;
            transition: all 0.2s ease-in-out 0s;
          }
        }
      }
    }

    .breadcrumb__list-item {
      letter-spacing: normal;
      display: inline-block;
      padding: 0 0 0 17px;

      &:first-child {
        padding: 0;
      }
    }

    .breadcrumb__list {
      list-style: none;
      padding: 0;
      justify-content: center;
    }

    .content__title {
      color: #ffffff;
      font-family: "Montserrat", Georgia, serif;
      font-size: 38px;
      font-weight: 300;
      line-height: 48px;
      margin: 0 auto 80px;
      max-width: 610px;
      @media (max-width: 767px) {
        font-size: 35px;
      }
      @media (max-width: 560px) {
        font-size: 25px;
        line-height: 35px;
        margin: 0 auto 30px;
      }
    }

    .icons-block {
      bottom: 10px;
      left: 10px;
      position: absolute;
      right: 0px;
      width: auto;
      z-index: 2;

      .looks, .comments {
        color: #fff;
        display: inline-block;
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        margin-right: 15px;
        vertical-align: middle;

        .icon {
          display: inline-block;
          vertical-align: middle;

          svg {
            fill: #fff;
            width: 16px;
          }
        }
      }
    }

    .blog-top-date {
      color: #ffffff;
      display: inline-block;
      font-family: "Montserrat", Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      margin-left: 25px;
    }
  }
}

.blog-inner {
  margin: 0 auto 90px;
  max-width: 750px;
  font-family: "Montserrat", Georgia, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;

  .btns-block {
    margin: 0 0px 50px 0px;
    min-height: 30px;
    display: flex;
    justify-content: space-between;

    .icon {
      left: 15px;
      position: absolute;
      top: 56%;
      transform: translateY(-50%);

      svg {
        color: #000;
        transition: all 0.2s ease-in-out 0s;
        width: 14px;
      }
    }
  }

  .btn--transparent {
    border: 1px solid #e8e8e8;
    border-radius: 15px;
    height: 30px;
    line-height: 18px;
    margin: 5px;
    padding: 5px 15px;
    position: relative;
  }

  .left .btn--transparent {
    margin: 0;
    padding-left: 40px;
  }

  .icons-block {
    min-width: 260px;

    .icons-block__date {
      color: #343434;
      display: inline-block;
      font-family: "Montserrat", Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      margin-left: 25px;
    }

    .icon {
      display: inline-block;
      left: 0;
      position: relative;
      top: 0;
      transform: translateY(0);
      vertical-align: middle;

      svg {
        fill: #343434;
        width: 16px;
      }
    }
  }

  .icons-block__looks, .icons-block__comments {
    color: #343434;
    display: inline-block;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-right: 15px;
    vertical-align: middle;
  }

  ol {
    list-style: none;

    li:before {
      content: counters(item, ".") ". ";
      counter-increment: item;
      display: inline;
      vertical-align: top;
      font-weight: 700;
    }
  }

  p {
    margin: 0;
    padding: 0 0 13px;
  }

  h2 {
    color: #1b1e21;
    font-family: "Montserrat", Georgia, serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 35px;
    text-transform: none;
  }
}

.comments-sec {
  border: 1px solid #f0f0f0;
  margin: 0 auto 100px;
  max-width: 770px;
  padding: 40px 90px;
  @media (max-width: 767px) {
    padding: 40px 25px;
  }
  @media (max-width: 560px) {
    margin-bottom: 45px;
    padding: 40px 15px;
  }

  .write-comment {
    margin-top: 80px;
    text-align: right;
  }

  .form-group {
    margin-bottom: 15px;
  }
}

.comments-sec-title {
  color: #343434;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: normal;
  text-align: center;
}

.account-container {
  display: flex;
  @media screen and (max-width: 900px) {
    flex-direction: column;
  }

  p {
    padding-bottom: 23px;
  }

  .account-form {
    display: flex;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    .password-control {
      border-bottom: none;
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url(../img/view.svg) 0 0 no-repeat;

      &.view {
        background: url(../img/no-view.svg) 0 0 no-repeat;
      }
    }

    .account__check-box {
      padding: 1px 0 34px;
      display: none;
    }

    .account__input-box--pass a {
      font-size: 11px;
      line-height: 12px;
      position: absolute;
      right: 13px;
      top: 13px;
    }

    .account__input-box {
      background-color: #efefef;
      border-radius: 5px;
      margin: 0 0 15px 0;

      input {
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        background: none;
        padding: 13px 15px;
        text-transform: none;
        letter-spacing: normal;
        font-size: 13px;
      }
    }

    .account__input-box--forgotten {
      background-color: #fff;
      text-align: right;
      margin-bottom: 5px;
      font-size: 11px;
    }

    &__col {
      flex: auto 1 1;
      border: 1px solid #F4F4F4;
      margin: -1px 0 0 -1px;
      padding: 30px;
      max-width: 50%;
      @media (max-width: 1024px) {
        padding: 30px 15px;
      }
      @media (max-width: 767px) {
        padding: 30px;
        max-width: 100%;
      }
      @media (max-width: 479px) {
        padding: 30px 15px;
      }

      .account__title {
        padding: 0 0 30px 0;
      }

      &--register {
        width: 60%;
        @media (max-width: 767px) {
          width: 100%;
        }
      }
    }
  }

  &__left {
    width: 75%;
    padding-right: 15px;
    @media screen and (max-width: 900px) {
      width: 100%;
      padding-right: 0;
    }
  }

  &__right {
    width: 25%;
    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }
}

.popup-close {
  display: none;
  position: absolute;
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 20px 21px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  z-index: 1;
}

.popup__title {
  display: none;
}

.popup__submenu-scroll .nav-submenu {
  border: 1px solid #e4e4e4;
  border-top: 0;
  margin: 0 0 40px;
  padding: 0;
  @media screen and (max-width: 1023px) {
    padding: 0;
    .nav-submenu__link {
      padding: 0;
    }
  }

  .nav-submenu__list {
    list-style: none !important;
    padding: 0;
    margin: 0;
  }

  .nav-submenu__list-item {
    padding: 15px;
    font-weight: bold;
    color: #343434;
    border-top: 1px solid #e4e4e4;
    transition: var(--transition);

    &:hover {
      color: #FC6519;
    }
  }

  @media screen and (max-width: 767px) {
    max-width: 702px;
    padding: 0;
    margin-top: 20px;
    text-align: left;
    bottom: 0;
  }
}

.sidebar-mobile-btn {
  padding: 15px 40px;
  font-size: 14px;
  line-height: 14px;
  border: 1px solid #fc6519;
  letter-spacing: .5px;
  text-align: center;
  display: none;
  border-radius: 4px;
  color: #343434;
  margin: 0 0 40px;
  @media (max-width: 900px) {
    display: inline-block;
  }
}


@media (max-width: 900px) {


  .popup__submenu-scroll {
    height: calc(100% - 65px);
    overflow: auto;
  }
  .nav-submenu {
    padding: 10px 25px 0;
    width: 325px;
    max-width: 100%;
    position: relative;
    border: 0;

    .nav-submenu__list {
      background: #fff;
      width: 100%;
      padding: 0 0 20px;
    }

    .nav-submenu__list-item {
      border-top: 0;
      padding: 3px 10px;
    }
  }

  .popup {
    background: #fff;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
    position: absolute !important;
    opacity: 0;
    display: none;
    transition: all .2s ease;
    margin: 40px 0 0 0;
    z-index: 999;
  }
  .popup__title {
    font-size: 25px;
    font-weight: 300;
    display: block;
    text-align: left;
    padding: 15px 70px 0 25px;
    line-height: 50px;
  }
  .nav-submenu__link, .product-info .tabs-content.active .tabs-content__title-link {
    color: #fc6519;
  }
}

.checkout__button-box {
  //display: flex;
  .btn--empty {
    border: none;
    background: none;
    color: #343434;
    padding: 13px;
    box-shadow: none;
    width: 120px;
  }

  .btn {
    padding: 13px 25px;

    &.btn--transparent {
      flex: 1;
    }
  }
}


.checkout-success {
  padding: 60px 0 43px;
  text-align: center;

  img {
    max-width: 100%;
    @media (max-width: 479px) {
      max-width: 60%;
    }


  }

  &__title {
    font-weight: 400;
    text-transform: initial;
    padding: 30px 0 70px;
  }

  &__message {
    border: 1px solid #e7e7e7;
    padding: 50px 10px;
    text-align: center;

    p {
      padding: 0;
    }

    a {
      color: #FC6519;
    }
  }
}

.delivery-section {
  font-size: 16px;
  line-height: normal;
}

.delivery-row {
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-wrap: wrap;
  }
}

.delivery-block {
  width: 100%;
  margin-bottom: 60px;
  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.delivery-block--no-margin {
  margin-bottom: 0;
}

.editor a {
  color: #FC6519;
}

.delivery-warranty {
  padding: 15px 20px;
  background: #da4817;
  color: #ffffff;
}

.delivery-section p:last-child {
  padding-bottom: 0;
}

.delivery-special__block {
  display: flex;
  align-items: center;
  @media (max-width: 768px) {
    flex-wrap: wrap;
  }
}

.delivery-special__block-img {
  width: 40%;
  text-align: center;
  @media (max-width: 768px) {
    width: 100%;
    padding-bottom: 10px;
  }
}

.delivery-heading {
  margin: 0;
  /* padding-bottom: 15px; */
  padding-bottom: 20px;
  font-size: 24px;
  line-height: normal;
  text-transform: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.delivery-prices {
  margin-bottom: 30px;

  .delivery-prices__list {
    margin: 0;
    padding: 0;
    list-style: none;
    column-count: 2;
    column-gap: 2%;
    @media (max-width: 768px) {
      column-count: unset;
    }
  }

  .delivery-prices__item {
    margin: 0;
    padding: 15px 0;
    break-inside: avoid;
  }

  .delivery-prices__title {
    display: block;
    margin-bottom: 2px;
    font-weight: bold;
    color: #dc4919;
  }
}

.delivery-steps {
  padding: 20px 17px;
  background: #dfdfdf;
  @media (max-width: 766px) {
    margin: -10px;
  }
}


.delivery-subheading {
  margin: 0;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: normal;
  color: #dc4919;
}

.delivery-steps td a {
  font-style: normal;
  text-decoration: underline;
  color: #d62f03;
  cursor: pointer;
  outline: none;
}

.delivery-policy {
  padding-bottom: 15px;
}

ul.delivery-payment__list {
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.editor img {
  max-width: 100%;
}

@media (max-width: 766px) {
  .delivery-warranty,
  .delivery-pickup {
    margin: -10px;
  }
}

.checkout__input-box {
  display: inline-block;
  vertical-align: top;
  padding: 0 20px 30px;
  width: 49%;
  @media (max-width: 767px) {
    padding: 0 8px 20px;
  }
}

@media (max-width: 479px) {
  .checkout__input-box, .checkout__file-box, .checkout__checkbox-box, .checkout__radio-box, .checkout__textarea-box, .checkout__captcha-box {
    display: block;
    width: 100%;
    padding: 0 0 20px 0;
  }
}

.checkout__button-box .btn--transparent {
  max-width: 300px;
  width: 100%;
  @media (max-width: 479px) {
    max-width: 100%;
  }
}

.checkout__input-box-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  /* text-transform: uppercase; */
  display: block;
  padding: 0 0 9px 0;
  letter-spacing: normal;
}

.checkout__input-box-title.required:before, .checkout__h3.required:before {
  content: '*';
  color: #ea184e;
  padding: 0 3px 0 0;
}

.checkout input[type="text"], .checkout input[type="password"], .checkout input[type="tel"], .checkout input[type="email"], .checkout input[type="search"] {
  border: none;
  border-radius: 0;
  background-color: #f5f5f5;
  box-shadow: none;
  height: 35px;
  padding: 10px 15px;
  text-transform: none;
  width: 100%;
  letter-spacing: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon-arrow-long-right {
  width: 13px;
  height: 14px;
  fill: #FC6519;
}

.checkout__radio-box, .checkout__checkbox-box {
  display: inline-block;
  vertical-align: top;
  padding: 0 20px 30px;
  width: 50%;

  .modal-review-step__form-item__radio {
    display: inline-block;
    padding: 0 20px 5px 0;
  }
}

.acc-addresses-list {

}

.acc-addresses {
  width: 33.33333333%;
  display: inline-block;
  border: 1px solid #F4F4F4;
  padding: 30px;
  margin: 0 0 40px 15px;
  position: relative;
  @media (max-width: 1024px) {
    width: 50%;
  }
  @media (max-width: 767px) {
    width: 100%;
  }

  &:nth-child(1) {
    margin-left: 0;
  }

  p {
    padding-bottom: 23px;
  }
}

.acc-addresses__delete {
  border: 0;
  position: absolute;
  top: -11px;
  left: -11px;
  background: #fff;
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  @media (max-width: 1024px) {
    top: 10px;
    left: 10px;
    opacity: 1;
  }

  svg {
    width: 19px;
    height: 19px;
    fill: #e14c4c;
  }
}

.acc-addresses:hover .acc-addresses__delete {
  opacity: 1;
}

.cart__buttons {
  display: flex;
  justify-content: space-between;

  .btn {
    min-width: 212px;
    padding: 13px 10px;
    white-space: nowrap;
  }
}

.cart__buttons-right--modified {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cart__buttons-right-btn {
  display: inline-block;
  padding-right: 33px;
}

.cart__meta {
  padding: 0 0 46px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product-info.cart--tabs {
  background: transparent;
  padding: 0;

  .tabs {
    text-align: left;
    padding: 0 0 30px 0;
  }
}


.table {
  margin: 0 0 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #e4e4e4;
}

.table__col {
  border: 1px solid #eaeaea;
  padding: 16px 5px 15px;
  transition: all .3s ease-in-out;
  text-align: center;

  .btn {
    padding: 5px 13px;
    font-size: 14px;
    text-transform: none;
    line-height: 11px;
    vertical-align: middle;
    letter-spacing: normal;
    white-space: nowrap;
    text-decoration: none;
  }
}

@media (max-width: 750px) {

  .table-responsive--order-list {
    display: none;
  }
}

.order-story {
  display: none;
  @media (max-width: 750px) {
    display: block;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__row {
    display: flex;

    &--head {
      min-height: 40px;
      display: flex;

      .order-story__cell {
        display: flex;
        align-items: center;
        background-color: rgb(230, 228, 228);
      }

      .order-story__cell:nth-child(2) {
        border-right: none;
      }
    }
  }

  &__show-button {
    border: none;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-radius: 0 5px 0 0;
    height: 100%;
    background-color: rgb(182, 182, 182);
    position: relative;
    width: 50px;
    box-sizing: border-box;
    cursor: pointer;

    &:before, &:after {
      content: "";
      height: 2px;
      width: 14px;
      background-color: white;
      position: absolute;
      top: 20px;
      transition: transform .3s;
    }

    &:before {
      transform: rotateZ(45deg);
      left: 13px;
    }

    &:after {
      transform: rotateZ(-45deg);
      right: 13px;
    }

    &.active {
      &:before {
        transform: rotateZ(-45deg);
        left: 13px;
      }

      &:after {
        transform: rotateZ(45deg);
        right: 13px;
      }
    }
  }

  &__cell {
    border: 1px solid grey;
    color: #343434;
    font-family: "Montserrat", Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    padding: 5px 10px;
    box-sizing: border-box;

    &:first-child {
      width: 100px;
      border-right: none;
      border-bottom: none;
      flex-shrink: 0;
    }

    &:nth-child(2) {
      flex-grow: 1;
      border-bottom: none;
    }

    &--button {
      border: none;
      padding: 0;
    }
  }

  &__body {
    &-group {
      &--hidden {
        display: none;
      }
    }
  }

  &__detail-button {
    border: none;
    background-color: #fc6519;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    display: block;
    text-decoration: none;
  }

}


.content__title-small {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  margin-bottom: 30px;
  text-transform: none;
}

.table-responsive {
  @media (max-width: 767px) {
    .table {
      margin-bottom: 10px;
    }
    margin-bottom: 40px;
    width: 100%;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

.checkout__h3 {
  font-size: 18px;
  padding: 10px 0 20px;
  text-transform: none;
  font-weight: 400;
}

.product-info.cart--tabs {
  background: transparent;
  padding: 0;

  .tabs {
    text-align: left;
    padding: 0 0 30px 0;

    ul {
      list-style: outside none none;
      padding: 0;
      margin: 0;
    }
  }
}

.cart--tabs .tabs__list-item {
  padding: 8px 0px;
  display: inline-block;
  vertical-align: bottom;

  a {
    color: #fc6519;

  }
}

.tabs__list-item {
  position: relative;
  a{
    position: relative;
    padding: 0 25px 8px 25px;
    &::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background: #fc6519;
      left: 0;
      bottom: 0;
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #fc6519;
    bottom: 0;
    display: none;
    left: 0;
  }
}

.tabs__list-item::before{
  content: '';
  position: absolute;
}

.fake-input {
  display: block;
  position: relative;
input{
  box-shadow: none;
  border-radius: 8px;
  padding: 13px 33px;
}
}
.coupon-btn {
  position: absolute;
  top: calc(50% - 8px);
  right: 15px;
  padding: 0;
  background: transparent;
  box-shadow: none;
}
input.cart__coupon-input {
  text-transform: none;
  letter-spacing: 0;
  font-size: 13px;
  line-height: 13px;
}

.cart__sum {
  text-align: right;
&-text {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 10px;
}
  &-price{
      font-size: 20px;
      line-height: 20px;
      font-weight: 500;
      display: inline-block;
      vertical-align: middle;
      padding: 0 0 0 13px;
    color: #fc6519;
  }
}

.cart__products {
  padding: 0 0 48px;
}


.cart__table{
  td {
    padding: 23px 10px 19px;
    &.cart__table-photo {
      padding: 23px 50px 19px 30px;
    }
  }
  &-name{
    max-width: 230px;
    font-size: 15px;
    line-height: 20px;
    color: #fc6519;
  }
  &-discount {
    width: 250px;
  }
}


.cart__photo {
  display: block;
  text-align: center;
   img {
    max-width: 100%;
  }
}
.cart__discount {
  line-height: 20px;
  color: #8c8c8c;
}
.catalogue__price--think {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #343434;
  margin-right: 10px;
}

.catalogue__price--total {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  margin-right: 10px;
}
table a.cart__product-name{
  text-decoration: none;
}

.cart__delete .icon-cross {
  width: 19px;
  height: 19px;
  fill: #e35959;
}

@media (max-width: 1024px){
  .cart__table-photo {
    width: 150px;
  }
  .cart__table-name {
    width: 170px;
  }

  .cart__table-discount {
    width: 140px;
  }
  }

.wishlist .catalogue__price.cart__table-price-400{
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #343434;
  margin-right: 10px
}

@media (max-width: 767px){
  .cart__table-photo, .cart__table-discount, .cart__table-price {
    display: none;
  }
  .wishlist-1 .catalogue__table-spinner{
    display: block !important;
  }
  .cart__buttons-right {
    padding: 0 0 30px;
    flex-basis: 100%;
    text-align: center;
    .btn.btn--transparent {
      width: fit-content;
    }
  }
  .cart__buttons {
    justify-content: center;
    flex-wrap: wrap;
  }
  .cart__buttons-left {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .cart__meta {
    display: block;
    text-align: center;
    padding: 0 30px 35px;
  }
  .product-info.cart--tabs {
    margin: 0 -29px 35px -29px;
    border: 1px solid #f0f0f0;
    border-bottom: 0;
  }
  .product-info.cart--tabs .tabs-content__inner {
    padding: 10px 15px 18px 15px;
    border-bottom: 1px solid #f0f0f0;
  }
}
@media screen and (max-width: 480px) {
  .cart__buttons-right--modified {
    display: block;
    padding: 0 0 10px;
  }

.cart__buttons-right-btn {
  display: block;
  padding: 0 0 10px;
}
}